body{
    border: 1px solid;
    padding: 60px;
    margin-top: 60px;
}

h1{
    text-align: center;
}

div{
    text-align: center;
}

@media screen and (max-width: 768px) {
    p{
        background-color: black;
         color:green;
     }
 }
 
 @media screen and (max-width: 480px) {
    p{
        background-color: black;
         color:red;
     }
 }

 input{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 160px;
 }
