body{
    background-color: rgb(242, 242, 242);
    text-align: center;
	background-image: url(images/01.jpg);
	background-size: cover;
}

.fullcenter {
	width: 100%;
	height: calc(100vh - 68px);

	/* フォームを画面の中に */
	display: flex;
	justify-content: center;
	align-items: center;

	backdrop-filter: blur(16px);
}

.form-top{
    background-color: rgb(255, 255, 255);
	min-width: 400px;
    text-align: center;
    h1{
		padding: 24px 0px;
        margin-bottom: 30px;
    }

	/* 任意 */
	box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.8);
	border-radius: 16px;
}

.input-contents{
    list-style: none;
    
}

.button{
	background-color:#d5d5d9;
	padding:10px 40px;
	border: solid 2px #999999;
	border-radius: 8px;
	cursor: pointer;
}

.button:hover {
	background-color:#c5c5c9;
}

.button:active {
	background-color:#b5b5b9;
}

input:not([type="submit"]) {
	border: solid 1px gray;
	border-radius: 4px;
	padding: 2px 8px;
}

@media screen and (max-width:600px){
    body{
        background-color: rgb(242, 242, 242);
        text-align: center;
    }

	.form-top{
		width: 100vw;
		min-width: fit-content;
		/* 任意 */
		box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.8);
		border-radius: 16px;
	}
}
