body{
    background-color: rgb(242, 242, 242);
    text-align: center;
	background-image: url(images/01.jpg);
	background-size: cover;
}

html, body {
	margin: 0px;
	padding: 0px;
}

.fullscreen {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	backdrop-filter: blur(16px);

	/* フォームを画面の中に */
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-top{
    background-color: rgb(255, 255, 255);
	min-width: 400px;
	height: fit-content;
    text-align: center;
    h1{
        padding-top:45px;
        padding-bottom: 45px;
        margin-bottom: 50px;
    }

	/* 任意 */
	box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.8);
	border-radius: 16px;
}

.input-contents{
    list-style: none;
    
}

.button{
    background-color:#d5d5d9;
    padding:10px 40px 10px 40px;
    border-width:2px;
	border-color: #999999;
	border-style: solid;	
  }



@media screen and (max-width:600px){
    body{
        background-color: rgb(242, 242, 242);
        text-align: center;
    }
    .form-top{
        background-color: rgb(255, 255, 255);
        width:390px;
        height:644px;
        margin-left:50px;
        text-align: center;
        h1{
            padding-top:45px;
            padding-bottom: 45px;
            margin-bottom: 50px;
            margin-left: 15px;
        }
    }
    
    .input-contents{
        list-style: none;
    
        li{
            margin-bottom: 50px;
            width: 100px;
        }
        
    }
}